# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/

# Environments
venv/
venv36/

# Gradle Wrapper
gradle/
gradlew
gradlew.bat

# All hidden files and folders, except gitignore
.*
!/.gitignore
